.modal.fade{tabindex: -1, 'data-backdrop': 'static'}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Отправка на сервер
      .modal-body
        .progress
          .progress-bar.progress-bar-success.progress-bar-striped.active
      .modal-footer
        %button.btn.btn-danger{type: "button", 'data-dismiss': "modal"}
          %i.fa.fa-ban
          Отмена
