<%= render 'breadcrumb' %>
<table class="table table-bordered table-striped table-hover" id='q'>
  <thead>
    <th>Имя</th>
    <th>Дата</th>
  </thead>
  <tbody></tbody>
  <tfoot>
    <tr>
      <td colspan='2'>
        <i class='fa fa-spin fa-refresh'></i>
        Подождите, идёт загрузка...
      </td>
    </tr>
  </tfoot>
</table>
<a href="<%= new_tool_path %>" class='btn btn-info'>
  <i class="fa fa-plus"></i>
  Создать
</a>
