<script>
$.ajax('?js')
</script>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <th>Имя</th>
    <th>Дата</th>
  </thead>
<% Tool.all.each do |t| %>
<tr>
  <td><%= link_to t.name, t %>
  <td><%= t.date2str %></td>
</tr>
<% end %>
</table>
