<%= link_to edit_tool_path(@tool), class: 'btn btn-info' do %>
<i class='fa fa-pencil'></i> Изменить
<% end %>
<span class="dropdown">
  <a class='btn btn-danger dropdown-toggle' data-toggle='dropdown'>
    <i class='fa fa-remove'></i> Удалить
  </a>
  <ul class="dropdown-menu dropdown-menu-right">
    <li><%= link_to @tool, method: :delete do %>
      <i class='fa fa-check'></i> Да, удалить
    <% end %></li>
  </ul>
</span>
