<% if me.disabled %>
<h2>Блокировка</h2>
Вы успешно авторизовались,
однако администратор системы заблокировал Вам
возможность работы.
Обратитесь к администратору.
<% end %>
<h2>Подключенные социальные сети</h2>
<% drop = me.oauths.count > 1 %>
<table class="table table-striped table-hover">
  <% me.oauths.each do |z| %>
  <tr>
    <td width='1' class='text-center'>
      <span class='label label-info'><%= z.provider %></span>
    </td>
    <td><%= z.name %></td>
    <% if drop %>
    <td class="text-right"><div class="btn-group">
      <button class='btn btn-danger btn-xs dropdown-toggle' data-toggle='dropdown'>
        Отключить
      </button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><%= link_to "#{auth_path}/#{z.id}", method: :delete do %>
          <i class='fa fa-check'></i>
          Да, отключить соц. сеть
        <% end %></li>
      </ul>
    </div></td>
    <% end %>
  </tr>
  <% end %>
</table>
