<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Разработчику">
    <i class='fa fa-user'></i>
    <%= me.name %>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to auth_path do %>
      <i class='fa fa-key'></i>
      Авторизация
      <% end %>
    </li>
    <li class='divider'></li>
    <li><%= link_to auth_path, method: :delete do %>
      <i class='fa fa-lock'></i>
      Выход
      <% end %>
    </li>
  </ul>
</li>
